@using Letgo.WebUI.Models.DTO_s;
@using Microsoft.AspNetCore.Identity;
@model AdvertCreateDTO
@inject UserManager<User> userManager;
@{
    var user = await userManager.GetUserAsync(User);
}

@*<input type="hidden" value="@Model.Result.Image" asp-for="@Model.Result.Image" />
        <input type="hidden" value="@Model.Result.AdvertStatusId" asp-for="@Model.Result.AdvertStatusId" />
        <input type="hidden" value="@Model.Result.hierarchicalCategories" asp-for="@Model.Result.hierarchicalCategories" />
        <input type="hidden" value="@Model.Result.ObjectID" asp-for="@Model.Result.ObjectID" />
        <input type="hidden" value="@Model.Result.SellerId" asp-for="@Model.Result.SellerId" />
        <input type="hidden" value="@Model.Result.Slug" asp-for="@Model.Result.Slug" />
        <input type="hidden" value="@Model.Result.UpdateDate" asp-for="@Model.Result.UpdateDate" />
        <input type="hidden" value="@Model.Result.CreationDate" asp-for="@Model.Result.CreationDate" />*@

<form asp-controller="DB_Advert" asp-action="PostCreate" method="post" enctype="multipart/form-data">
    <div class="modal-body">
        <input type="hidden" value="@user.Id" asp-for="@Model.SellerId" />
        <div class="mb-3">
            <label asp-for="@Model.hierarchicalCategories.Lvl0">Kategori adı yazın</label>
            <input class="form-control" type="text" asp-for="@Model.hierarchicalCategories.Lvl0" required />
            <span asp-validation-for="@Model.hierarchicalCategories.Lvl0" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="@Model.hierarchicalCategories.Lvl1">Alt kategori adı yazın</label>
            <input class="form-control" type="text" asp-for="@Model.hierarchicalCategories.Lvl1" required />
            <span asp-validation-for="@Model.hierarchicalCategories.Lvl1" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="@Model.hierarchicalCategories.Lvl2">Marka adı yazın</label>
            <input class="form-control" type="text" asp-for="@Model.hierarchicalCategories.Lvl2" required />
            <span asp-validation-for="@Model.hierarchicalCategories.Lvl2" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="@Model.Image">Photo</label>
            <input class="form-control" asp-for="@Model.Image" type="file" multiple accept="image/*">
            <span asp-validation-for="@Model.Image" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="@Model.Name">Name</label>
            <input class="form-control" type="text" asp-for="@Model.Name" required />
            <span asp-validation-for="@Model.Name" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="@Model.Description">Description</label>
            <input class="form-control" type="text" asp-for="@Model.Description" />
            <span asp-validation-for="@Model.Description" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="@Model.Price">Price</label>
            <input class="form-control" type="text" asp-for="@Model.Price" required />
            <span asp-validation-for="@Model.Price" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <button class="btn btn-success w-100" type="submit">Gönder</button>
        </div>
    </div>
</form>
