@using Microsoft.AspNetCore.Identity;
@inject UserManager<User> userManager;
@model Advert

@{
    var user = await userManager.GetUserAsync(User);
}

@if (Model.SellerId == user.Id)
{
    <a class="btn btn-primary" asp-controller="DB_Advert" asp-action="GetUpdate" asp-route-ObjectID="@Model.ObjectID">İlan Guncelle</a>
    <a class="btn btn-danger" id="deleteAdvertDbModalButton" data-bs-toggle="modal" data-bs-target="#deleteAdvertDbModal">
        İlan Sil
    </a>
}

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Image</th>
            <th scope="col">Description</th>
            <th scope="col">Price</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">@Model.ObjectID</th>
            <td>@Model.Name</td>
            <td>@Model.Image</td>
            <td>@Model.Description</td>
            <td>@Model.Price</td>
        </tr>
    </tbody>
</table>

<script type="text/javascript">
    document.getElementById("deleteAdvertDbModalButton").addEventListener("click", function () {
        $("#deleteAdvertDbModal").modal("show");
    });
</script>

<partial name="GetDelete" />