@using Letgo.WebUI.DTO_s;
@model Advert

@*<input type="hidden" value="@Model.Image" asp-for="@Model.Image" />
        <input type="hidden" value="@Model.AdvertStatusId" asp-for="@Model.AdvertStatusId" />
        <input type="hidden" value="@Model.hierarchicalCategories" asp-for="@Model.hierarchicalCategories" />
        <input type="hidden" value="@Model.ObjectID" asp-for="@Model.ObjectID" />
        <input type="hidden" value="@Model.SellerId" asp-for="@Model.SellerId" />
        <input type="hidden" value="@Model.Slug" asp-for="@Model.Slug" />
        <input type="hidden" value="@Model.UpdateDate" asp-for="@Model.UpdateDate" />
        <input type="hidden" value="@Model.CreationDate" asp-for="@Model.CreationDate" />*@

<form asp-controller="DB_Advert" asp-action="PostUpdate" method="post" enctype="multipart/form-data">
    <div class="modal-body">
        <input type="hidden" value="@Model.ObjectID" asp-for="@Model.ObjectID" />
        <input type="hidden" value="@Model.UpdateDate" asp-for="@Model.UpdateDate" />
        <input type="hidden" value="@Model.CreationDate" asp-for="@Model.CreationDate" />
        <input type="hidden" value="@Model.Slug" asp-for="@Model.Slug" />
        <input type="hidden" value="@Model.StatusObjectID" asp-for="@Model.StatusObjectID" />
        <input type="hidden" value="@Model.SellerId" asp-for="@Model.SellerId" />
        <input type="hidden" value="@Model.CategoriesObjectID" asp-for="@Model.CategoriesObjectID" />
        <input type="hidden" value="@Model.Image" asp-for="@Model.Image" />
        <div class="mb-3">
            <label asp-for="@Model.Categories.Lvl0">Kategori adı yazın</label>
            <input class="form-control" type="text" asp-for="@Model.Categories.Lvl0" required disabled />
            <span asp-validation-for="@Model.Categories.Lvl0" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="@Model.Categories.Lvl1">Alt kategori adı yazın</label>
            <input class="form-control" type="text" asp-for="@Model.Categories.Lvl1" required disabled />
            <span asp-validation-for="@Model.Categories.Lvl1" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="@Model.Categories.Lvl2">Marka adı yazın</label>
            <input class="form-control" type="text" asp-for="@Model.Categories.Lvl2" required disabled />
            <span asp-validation-for="@Model.Categories.Lvl2" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="@Model.Image">Fotoğraf</label>
            <input class="form-control" asp-for="@Model.Image" type="file" multiple accept="image/*">
            <span asp-validation-for="@Model.Image" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="@Model.Name">İlan Adı</label>
            <input class="form-control" type="text" asp-for="@Model.Name" required />
            <span asp-validation-for="@Model.Name" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="@Model.Description">Açıklaması</label>
            <input class="form-control" type="text" asp-for="@Model.Description" />
            <span asp-validation-for="@Model.Description" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="@Model.Price">Fiyatı</label>
            <input class="form-control" type="text" asp-for="@Model.Price" required />
            <span asp-validation-for="@Model.Price" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <button class="btn btn-success w-100" type="submit">Gönder</button>
        </div>
    </div>
</form>
