@using Microsoft.AspNetCore.Identity;
@inject IAdvertStatusManagerDb statusManager;
@inject IAdvertManagerDb advertManager;
@inject UserManager<User> userManager;
@{
    var adverts = advertManager.GetAllInclude(null, a => a.Status).Result;
    var user = await userManager.GetUserAsync(User);
}
<h1 class="display-6 text-center">İlanlarım</h1>

<h3>Onay Bekleyenler</h3>
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Desc</th>
            <th scope="col">Price</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var advert in adverts)
        {
            if (
            advert.SellerId == user.Id &&
            advert.Status.IsSold == false &&
            advert.Status.IsModify == false &&
            advert.Status.IsOnAir == false &&
            advert.Status.IsApproved == false &&
            advert.Status.IsDenied == false &&
            advert.Status.IsRemove == false
            )
            {
                <tr>
                    <th scope="row">@advert.ObjectID</th>
                    <td><a asp-controller="DB_Advert" asp-action="GetDetail" asp-route-ObjectID="@advert.ObjectID">@advert.Name</a></td>
                    
                    <td>@advert.Description</td>
                    <td>@advert.Price</td>
                </tr>
            }
        }
    </tbody>
</table>


<h3>Yayındakiler</h3>
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Desc</th>
            <th scope="col">Price</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var advert in adverts)
        {
            if (
            advert.SellerId == user.Id &&
            advert.Status.IsSold == false &&
            advert.Status.IsModify == false &&
            advert.Status.IsOnAir == true &&
            advert.Status.IsApproved == false &&
            advert.Status.IsDenied == false &&
            advert.Status.IsRemove == false
            )
            {
                <tr>
                    <th scope="row">@advert.ObjectID</th>
                    <td>@advert.Name</td>
                    <td>@advert.Description</td>
                    <td>@advert.Price</td>
                    
                </tr>
            }
        }
    </tbody>
</table>

<h3>Yayında Olmayanlar</h3>
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Desc</th>
            <th scope="col">Price</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var advert in adverts)
        {
            if (
            advert.SellerId == user.Id &&
            (advert.Status.IsModify == true ||
            advert.Status.IsDenied == true ||
            advert.Status.IsRemove == true)
            )
            {
                <tr>
                    <th scope="row">@advert.ObjectID</th>
                    <td>@advert.Name</td>
                    <td>@advert.Description</td>
                    <td>@advert.Price</td>
                    
                </tr>
            }
        }
    </tbody>
</table>

<h3>Satılanlar</h3>
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Desc</th>
            <th scope="col">Price</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var advert in adverts)
        {
            if (
            advert.SellerId == user.Id &&
            advert.Status.IsSold == true &&
            advert.Status.IsModify == false &&
            advert.Status.IsOnAir == false &&
            advert.Status.IsApproved == false &&
            advert.Status.IsDenied == false &&
            advert.Status.IsRemove == false
            )
            {
                <tr>
                    <th scope="row">@advert.ObjectID</th>
                    <td><a asp-controller="DB_Advert" asp-action="GetDetail" asp-route-ObjectID="@advert.ObjectID">@advert.Name</a></td>
                    <td>@advert.Description</td>
                    <td>@advert.Price</td>
                    
                </tr>
            }
        }
    </tbody>
</table>
