@using Microsoft.AspNetCore.Identity;
@model Task<Advert>
@inject UserManager<User> userManager;
@{
    var user = await userManager.GetUserAsync(User);
}
@if (Model.Result.SellerId == user.Id)
{
    <a class="btn btn-primary" asp-controller="DB_Advert" asp-action="GetUpdate" asp-route-ObjectID="@Model.Result.ObjectID">İlan Guncelle</a>
    <a class="btn btn-danger" id="deleteAdvertModalButton" data-bs-toggle="modal" data-bs-target="#deleteAdvertModal">Yayından Kaldır</a>
    <form asp-controller="DB_Advert" asp-action="IsSold" asp-route-ObjectID="@Model.Result.ObjectID" method="post">
        <button class="btn btn-primary" type="submit">Satıldı Olarak İşaretle</button>
    </form>
}

@if (User.Identity.IsAuthenticated && user.Id != Model.Result.SellerId)
{
    <a class="btn btn-primary" 
    asp-controller="Chats" 
    asp-action="GetDetail" 
    asp-route-ObjectID="@Model.Result.ObjectID" 
    asp-route-SenderID="@user.Id"
    >Mesaj Gönder</a>
}

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Image</th>
            <th scope="col">Description</th>
            <th scope="col">Price</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">@Model.Result.ObjectID</th>
            <td>@Model.Result.Name</td>
            <td>@Model.Result.Image</td>
            <td>@Model.Result.Description</td>
            <td>@Model.Result.Price</td>
        </tr>
    </tbody>
</table>

<script type="text/javascript">
    document.getElementById("deleteAdvertModalButton").addEventListener("click", function () {
        $("#deleteAdvertModal").modal("show");
    });
</script>

<partial name="GetDelete" />